.verify_data{
    min-height:calc(100vh - 218px);
    max-width:912px;
    margin-left:auto;
    margin-right:auto;
    padding-top:24px;
    padding-bottom:40px;
}
.verify_data{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.verify_center{
    text-align:center;
}
.publish_btn{
    width: 100%;
    height: 48px;
    text-align: center;
    margin-top: 8px;
    background: #3F2B89;
    border: 1px solid #3F2B89;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s ease;
    max-width:344px;
}
.publish_btn:hover{
    background:#fff;
    color:#3F2B89;
}
.publish_back_link{
    margin-top: 34px;
    color: #8F9BB3;
    font-size: 16px;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    transition: all .4s ease;
}
.publish_back_link span{
    margin-left: 10px;
}
/* verify block style */
.verify_ul{
    list-style-type:none;
    padding-left:0;
    margin-bottom:0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left:-6px;
    margin-right:-6px;
}
.verify_li{
    width:calc(25% - 12px);
    margin-bottom:24px;
    padding-left:6px;
    padding-right:6px;
}
.verify_li_span{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8F9BB3;
}
.verify_li_p{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #3F2B89;
    margin-top:8px;
    margin-bottom:0;
    font-family: 'Montserrat', sans-serif;
}
.verify_img_cover{
    height:72px;
    border-radius:6px;
    overflow:hidden;
}
.verify_img{
    width:100%;
    height:100%;
    object-fit:cover;
}
