.create_right_info{
    width:268px;
    padding-top:68px;
    padding-bottom:120px;
}
.media_step{
    width:calc(100% - 536px);
    padding-left:40px;
    padding-right:40px;
}
.media_step{
    padding-top:30px;
}
.create_info{
    border: 1px solid #E4E9F2;
    border-radius:6px;
    background:#fff;
    padding:24px;
    min-height:435px;
} 
.create_info_icon span{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #192038;
    margin-left:18px;
}
.create_info_icon{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.create_info_ul{
    margin-top:18px;
    margin-bottom:0;
    list-style-type: none;
    padding-left:0;
}
.create_info_ul li:not(:last-child){
    margin-bottom:24px;
}
.create_ul_p{
    margin-top:0;
    margin-bottom:8px;
    color: #2E3A59;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}
.create_ul_txt{
    font-size: 14px;
    line-height: 20px;
    color: #8F9BB3;
}
.create_step_h4{
    color: #3F2B89;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    max-width:372px;
    margin-top:0;
    margin-bottom:12px;
}
.create_step_p{
    max-width:353px;
    color: #8F9BB3;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom:0;
}
.create_step_h4,.create_step_p{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.step_max_media{
    max-width:400px;
    margin-top:48px;
    margin-left:auto;
    margin-right:auto;
}
.step6_btn{
    width: 100%;
    height: 48px;
    text-align: center;
    margin-top: 8px;
    background: #3F2B89;
    border: 1px solid #3F2B89;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s ease;
}
.step6_btn:hover{
    background:#fff;
    color:#3F2B89;
}
.step_center{
    text-align:center;
}
.step6_back_link{
    margin-top: 34px;
    color: #8F9BB3;
    font-size: 16px;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    transition: all .4s ease;
}
.step6_back_link span{
    margin-left: 10px;
}
.media_block{
    background:#fff;
    border: 1.5px dashed #E4E9F2;
    border-radius:4px;
    text-align:center;
    padding:47px 24px;
    margin-bottom:24px;
}
.media_h4{
    margin-top:16px;
    margin-bottom:0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #192038;
}
.media_h5{
    color: #192038;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom:0;
    margin-top:8px;
}
.media_upload_btn{
    margin-top:16px;
    background: rgba(234, 223, 252, 0.4);
    border-radius: 4px;
    min-width:125px;
    height:32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7356C0;
    border:0;
    cursor:pointer;
    transition:all .4s ease;
}
.media_upload_btn:hover{
    background: #7356C0;
    color:#fff;
}
