/*header-search*/
.dash_relative{
  position: relative;
}
.head_search{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack:space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.dash_h1{
  color:#3F2B89;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-top:0;
  margin-bottom:0;
}
.search_box input{
  width:450px;
  height:48px;
  background: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 48px;
  border:0;
  color:#2E3A59;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  padding-left:16px;
}
.search_box input:focus{
  outline:none;
}
.search_box input::placeholder { 
  color:#8F9BB3;
  opacity: 1; 
}
.search_box input:-ms-input-placeholder { 
  color: #8F9BB3;
}
.search_box input::-ms-input-placeholder { 
  color: #8F9BB3;
}
.search_box_flex{
  position: absolute;
  right: 2px;
  top: 3px;
}
.search_box_flex,.search_icon,.search_maximize{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.search_icon,.search_maximize{
  width:24px;
  height:24px;
  border:0;
  background:transparent;
  cursor:pointer;
  transition:all .4s ease;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.search_icon:hover,.search_maximize:hover,.profil_img:hover{
  transform:scale(1.1);
}
/*.search_profil_parent{
  position: relative;
}*/

.search_profil{
  position: relative;
  width:44px;
  height:44px;
  border-radius:50%;
  border-color: transparent;
  overflow:hidden;
  padding:0;
}
.profil_img{
  width:100%;
  height:100%;
  border-radius: 50%;
  position: relative;
  right:0.03rem;
  bottom: 0.02rem;
  object-fit:cover;
  margin:0;

}
.search_icon,.search_maximize{
  margin-right:24px;
}
.profil_img{
  transition:all .4s ease;
}



/*setting*/
.setting_block{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.setting_left{
  width:calc(100% - 432px);
  margin-right:22px;
}
.setting_right{
  width:400px;
}
.setting_left,.setting_right{
  background:#fff;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-top:24px;
  padding:32px;
}
.subc_plan,.stng_plan{
  color:#192038;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top:0;
  margin-bottom:16px;
}
.subc_block{
  background: #F7F9FC;
  border-radius: 8px;
  padding:16px 24px;
  position:relative;
}
.subcrb_top{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack:  space-between;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.ads_subtype p{
  color:#3F2B89;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top:0;
  margin-bottom:0;
}
.ads_subtype span{
  margin-top:8px;
  display:block;
}
.ads_subtype span,.subc_price span{
  color: #8F9BB3;
  font-size: 12px;
  line-height: 16px;
}
.subc_price{
  color: #3F2B89;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin:0;
}
.subc_flex{
  margin-top:28px;
}
.subc_upgrade_plan{
  color: #3F2B89;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  min-width:116px;
  height:32px;
  padding-left:16px;
  padding-right:16px;
  text-decoration:none;
  border: 1px solid #3F2B89;
  border-radius: 4px;
  display:inline-block;
  text-align:center;
  margin-right:16px;
  transition:all .4s ease;
}
.subc_upgrade_plan:hover{
  color:#fff;
  background:#3F2B89;
}
.subc_cancel{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #3F2B89;
  border:0;
  padding:0;
  background:transparent;
  cursor:pointer;
}
.subc_car{
  position:absolute;
  right:0;
  bottom:0;
  opacity: 0.16;
}
.stng_profil{
  margin-bottom:32px;
}
.stng_profil,.profil_img_edit,.stng_profil_detail span,.stng_form_flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack:  flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.profil_relative,.stng_relative{
  position: relative;
}
.profil_cover{
  width:96px;
  height:96px;
  border-radius:50%;
  overflow:hidden;
  border: 1px solid #fff;
}
.profil_cover_img{
  width:100%;
  height:100%;
  border-radius: 50%;
  position: relative;
  right:0.5rem;
  bottom: 0.2rem;
  min-width:96px;
  min-height:96px;
  object-fit:cover;
}
.profil_img_edit{
  width:32px;
  height:32px;
  border-radius:4px;
  background: #E4E9F2;
  border: 3px solid #fff;
  border-radius:50%;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack:  center;
  justify-content: center;
}
.stng_profil_detail{
  margin-left:24px;
}
.stng_profil_detail p{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color:#000;
  margin-top:0;
  margin-bottom:12px;
}
.stng_profil_detail span{
  color:#027A48;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding:4px 12px;
  background: #ECFDF3;
  border-radius: 16px;
}
.stng_profil_detail span::before{
  content:'';
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #12B76A;
  border-radius:50%;
  margin-right:7px;
}
/* stng-form style */
.stng_submit{
  width: 100%;
  height: 48px;
  text-align: center;
  margin-top: 24px;
  background: #7356C0;
  border: 1px solid #7356C0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all .4s ease;
}
.stng_submit:hover{
  color: #7356C0;
  background: #fff;
}
.stng_element{
  background: #F7F9FC;
  border: 1px solid #EDF1F7;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  /*width: calc(100% - 68px);*/
  width:100%;
  height: 44px;
  padding-left: 52px;
  padding-right: 16px;
  color: #2E3A59;
  font-size: 14px;
  transition: all .4s ease;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
}
.stng_element:focus{
  outline: none;
  border-color: #3F2B89;
}
.stng_email_icon{
  position: absolute;
  pointer-events: none;
  left: 14px;
  top: 12px;
}
.pass_eye{
  position: absolute;
  right: 14px;
  top: 14px;
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
  background: transparent;
}
.pass_error{
  color: #8F9BB3;
  font-size: 12px;
  margin-top: 8px;
  display:block;
}
.stng_label{
  display:block;
  color:#3F2B89;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom:6px;
}
.pass_eye{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack:  center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.form_edit_btn{
  background:#7356C0;
  border:1px solid #7356C0;
  height:48px;
  min-width:80px;
  color:#fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  cursor:pointer;
  margin-left:16px;
  transition:all .4s ease;
}
.form_edit_btn:hover{
  color:#7356C0;
  background:transparent;
}
.stng_relative{
  width:100%;
}
.stng_form_item{
  margin-bottom:24px;
}
.stng_form_item input::-webkit-outer-spin-button,
.stng_form_item input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.stng_form_item input[type=number] {
-moz-appearance: textfield;
}
.stng_row{
  margin-left:-12px;
  margin-right:-12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.stng_col{
  padding-left:12px;
  padding-right:12px;
  width:50%;
}
@media screen and (max-width:1360px){
  .setting_right{
      width:332px;
  }
  .setting_left{
      width:calc(100% - 332px);
  }
}
@media screen and (max-width:1400px){
  .subc_upgrade_plan{
      min-width:76px;
  }
}
/*container*/
.dash_cover{
  padding:40px 56px;
}
.dash_cover{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack:space-between;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.dash_right{
  width:calc(100% - 290px);
  padding-left:32px;
}

/* destination dropdown style */
/* .destin_dropdown{
  text-align: center;
  margin: auto;
  position: relative;
  max-width: 100px;
} */
.dropdown_menu{
  margin-top:8px;
  background: #F7F9FC;
  border: 1px solid #E4E9F2;
  border-radius: 6px;
  min-width:104px;
  width:104px;
  box-shadow:none;
  padding:8px 0;
}
.dropdown_item{
  display: flex !important;
  align-items:center;
  padding:8px 16px;
  transition:all .4s ease;
}
.dropdown_item span{
  margin-left:8px;
  color:#192038;
  font-weight:500;
  display:block;
}
.dropdown_item:last-child span{
  color:#F13239;
}
.dropdown_item svg{
  min-width:14px;
}
.dropdown_item:hover{
  opacity:.7;
}
.destin_dropdown button{
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
