/*.sidebar {
  width: 20%;
  position: absolute;

  left: 56px;
  z-index: 3;
  overflow: hidden;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.overflow-hidden{
  overflow:hidden
}

.profile{
   position: absolute;
   top:13vh;
   left:90%;
   align-self: flex-start;
   z-index: 3;
}

@media (max-height:930px){
 
    .profile{
      position:absolute;
  
      top:6vh
  
  }
}

*/