.create_steps{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.create_steps{
    padding-left:10px;
    padding-right:10px;
    min-height:calc(100vh - 154px);
}
.create_right_info{
    width:268px;
    padding-top:68px;
    padding-bottom:120px;
}
.budget_step{
    width:calc(100% - 536px);
    padding-left:40px;
    padding-right:40px;
}
.budget_step{
    padding-top:90px;
}
.create_info{
    border: 1px solid #E4E9F2;
    border-radius:6px;
    background:#fff;
    padding:24px;
    min-height:435px;
} 
.create_info_icon span{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #192038;
    margin-left:18px;
}
.create_info_icon{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.create_info_ul{
    margin-top:18px;
    margin-bottom:0;
    list-style-type: none;
    padding-left:0;
}
.create_info_ul li:not(:last-child){
    margin-bottom:24px;
}
.create_ul_p{
    margin-top:0;
    margin-bottom:8px;
    color: #2E3A59;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}
.create_ul_txt{
    font-size: 14px;
    line-height: 20px;
    color: #8F9BB3;
}
.create_step_h4{
    color: #3F2B89;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    max-width:372px;
    margin-top:0;
    margin-bottom:12px;
}
.create_step_p{
    max-width:353px;
    color: #8F9BB3;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom:0;
}
.create_step_h4,.create_step_p{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.step_max_form{
    max-width:344px;
    margin-top:48px;
    margin-left:auto;
    margin-right:auto;
}
.step_label{
    display: block;
    color: #3F2B89;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px;
}
.step_element,.step_select_item{
    background: #F7F9FC;
    border: 1px solid #EDF1F7;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    width: calc(100% - 70px);
    height: 44px;
    padding-left: 52px;
    padding-right: 16px;
    color: #2E3A59;
    font-size: 14px;
    transition: all .4s ease;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}

.step_element{
    width:100%
}


.step_relative{
    position:relative;
    width:100%;
}
.step_form_icon{
    position: absolute;
    pointer-events: none;
    left: 17px;
    top: 14px;
}
.step_element:focus,.step_select_item:focus{
    outline: none;
    border-color: #3F2B89
}
.pass_error{
    color: #8F9BB3;
    font-size: 12px;
    margin-top: 8px;
    display: block;
}
.step_form_item{
    margin-bottom:24px;
}
.step_select_icon{
    pointer-events:none;
    position: absolute;
    top:14px;
    right:14px;
}
.step_select_item{
    padding-left:16px;
    padding-right:52px;
    width:100%;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.step4_btn{
    width: 100%;
    height: 48px;
    text-align: center;
    margin-top: 8px;
    background: #3F2B89;
    border: 1px solid #3F2B89;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s ease;
}
.step4_btn:hover{
    background:#fff;
    color:#3F2B89;
}
.step_center{
    text-align:center;
}
.step4_back_link{
    margin-top: 34px;
    color: #8F9BB3;
    font-size: 16px;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    transition: all .4s ease;
}
.step4_back_link span{
    margin-left: 10px;
}
.calendar_icon{
    position: absolute;
    pointer-events: none;
    right: 17px;
    top: 14px;
}

.duration_step input{
    padding-left: 16px;
    padding-right: 16px;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    width: 16px;
    height: 20px;
    position: absolute;
    right: 16px;
    background: transparent;
    cursor: pointer;
}